.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D2B48C;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  color: #000000;
}

.notifications {
  position: relative;
}

.notifications-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.notifications-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}
