.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D2B48C;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  color: #000000;
}

.logo a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent */
  display: flex; /* Make sure the content inside is flexibly aligned */
  align-items: center; /* Align items vertically */
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
}

.notifications {
  position: relative;
  margin-right: 20px;
}

.notifications-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.notifications-icon svg {
  width: 24px;
  height: 24px;
  stroke: #000;
}

.notifications-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-item h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.notification-item p {
  margin: 5px 0;
  font-size: 14px;
}

.view-button {
  background-color: rgb(217, 203, 176);
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Space Mono", monospace;
  color: rgb(92, 69, 35);
  font-weight: 500;
}

.view-button:hover {
  background-color: #d1b179;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 500;
  color: rgb(92, 69, 35);
}

.dropdown-menu {
  position: absolute;
  right: 0; /* Ensure the menu is aligned to the right of the parent */
  top: 40px; /* Adjust the positioning to avoid overlap */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.sign-in {
  background-color: rgb(217, 203, 176);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Space Mono", monospace;
  color: rgb(92, 69, 35);
  font-weight: 500;
}

.sign-in:hover {
  background-color: #d1b179;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}