.notifications {
  position: relative;
}

.notifications-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.notifications-menu {
  position: absolute;
  right: 0;
  top: 40px;
  width: 300px; /* Make the menu wider */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.notification-item {
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-item h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.notification-item p {
  margin: 5px 0;
  font-size: 14px;
}

.view-button {
  background-color: rgb(217, 203, 176);
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Space Mono", monospace;
  color: rgb(92, 69, 35);
  font-weight: 500;
}

.view-button:hover {
  background-color: #d1b179;
}

.close-button {
  position: absolute;
  top: 12px; /* Dropped by 16px */
  right: 5px;
  background-color: rgb(217, 203, 176); /* Brown background */
  border: none;
  font-size: 10px; /* Reduced the size */
  cursor: pointer;
  color: rgb(92, 69, 35); /* Text color */
  width: 20px; /* Ensure square shape */
  height: 20px; /* Ensure square shape */
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: #d1b179; /* Hover color */
  color: #333;
}
