.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2b48c;
  color: #4a4a4a;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

.footer-left {
  flex-shrink: 0;
  position: relative; /* Ensure the dropdown menu is positioned relative to the footer */
}

.footer-content {
  flex-grow: 1;
  text-align: center;
}

.footer p {
  margin: 5px 0;
}
