.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5ecd5;
}

.header {
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-top: 40px;
}

.form-container {
  background-color: rgb(230,213,188);
  padding: 20px;
  margin: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-weight: 700;
}

.footer {
  flex-shrink: 0;
  background-color: #d2b48c;
  color: #4a4a4a;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

.footer-left {
  flex-shrink: 0;
}

.footer-content {
  flex-grow: 1;
  text-align: center;
}

.footer p {
  margin: 5px 0;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 500;
  color: rgb(92, 69, 35);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.sign-in {
  background-color: rgb(217, 203, 176);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Space Mono", monospace;
  color: rgb(92, 69, 35);
  font-weight: 500;
}

.sign-in:hover {
  background-color: #d1b179;
}
