.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .modal-body {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .close-button {
    background-color: rgb(217, 203, 176);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Space Mono", monospace;
    color: rgb(92, 69, 35);
    font-weight: 500;
    margin-top: 20px;
  }
  
  .close-button:hover {
    background-color: #d1b179;
  }
  