.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  max-height: 80vh; /* Set maximum height */
  overflow-y: auto; /* Enable scrolling for overflow content */
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px; /* Increase size for better visibility */
  cursor: pointer;
  color: #888;
}

.modal-close:hover {
  color: #333;
}

.copy-button {
  background-color: rgb(217, 203, 176);
  border: none;
  padding: 5px 10px; /* Make the button smaller */
  font-size: 14px; /* Adjust font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Space Mono", monospace;
  color: rgb(92, 69, 35);
  font-weight: 500;
  margin-top: 10px;
  display: block; /* Ensure the button takes its own line */
}

.copy-button:hover {
  background-color: #d1b179;
}

.modal p {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 1.5;
}
